<ng-container *ngIf="{ items: items$ | async } as data">
    <h1>Mon garage</h1>
    <app-garage-list [items]="data.items"
                     (deleteCar)="deleteCar($event)">
    </app-garage-list>
</ng-container>
