<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ item?.brand || 'Marque' }} {{ item?.model || 'Modèle' }}</mat-card-title>
        <mat-card-subtitle>Année {{ item?.year || '' }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="{{ item?.image || '' }}" alt="{{ item?.model || 'Modèle' }}">

    <mat-card-content>
        <span style="padding-right: 10px">{{ item?.price + ' €' || 'Prix' }}</span>
        <span>{{ item?.horsepower + ' chevaux' || 'Puissance' }}</span>
    </mat-card-content>

    <mat-card-actions *ngIf="role ==='ADMIN' || role ==='USER'" style="text-align: center;">
        <button mat-mini-fab color="primary" style="margin-left: 5px; margin-right: 5px;" (click)="add(item || null)">
            <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="role ==='ADMIN'" mat-mini-fab color="accent" [routerLink]="'edit/' + item?.id" style="margin-left: 5px; margin-right: 5px;">
            <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="role ==='ADMIN'" mat-mini-fab color="warn" (click)="delete(item?.id || null)" style="margin-left: 5px; margin-right: 5px;">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
