<button mat-raised-button color="primary" [routerLink]="'/cars'" style="margin-top: 15px">
    Consulter le marché des voitures
</button>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of items">
        <app-garage-item [item]="item"
                      (deleteItem)="deleteItem($event)">
        </app-garage-item>
    </div>
</div>
