<ng-container *ngIf="car$ | async"></ng-container>
<button mat-raised-button color="primary" style="margin-right: 10px;" [routerLink]="'/cars'">
    Retourner à la liste des voitures
</button>
<form [formGroup]="formGroup" (ngSubmit)="save()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Marque</mat-label>
            <input matInput formControlName="brand" name="brand" />
            <mat-hint>Marque de la voiture</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Modèle</mat-label>
            <input matInput formControlName="model" name="model" />
            <mat-hint>Nom du modèle</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Année de création</mat-label>
            <input matInput formControlName="year" name="year" type="number" />
            <mat-hint>L'année de la création de la voiture</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Image</mat-label>
            <input matInput formControlName="image" name="image" />
            <mat-hint>Image de la voiture</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Prix</mat-label>
            <input matInput formControlName="price" name="price" type="number" />
            <mat-hint>Prix de la voiture</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Chevaux</mat-label>
            <input matInput formControlName="horsepower" name="horsepower" />
            <mat-hint>Puissance de la voiture en chevaux</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>



    <button mat-raised-button color="accent">
        Enregistrer
    </button>
</form>
