<ng-container *ngIf="user$ | async"></ng-container>
<h1>Ajouter / Éditer un utilisteur</h1>
<!-- <button mat-raised-button color="primary" style="margin-right: 10px;" [routerLink]="'/users'">
    Retourner vers mon profil
</button> -->
<form [formGroup]="formGroup" (ngSubmit)="save()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Adresse email</mat-label>
            <input matInput formControlName="login" name="login" />
            <mat-hint>Votre adresse email</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" name="password" type="password" />
            <mat-hint>Votre mot de passe</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstname" name="firstname" />
            <mat-hint>Votre prénom</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastname" name="lastname" />
            <mat-hint>Votre nom</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <!-- <input matInput formControlName="role" name="role" /> -->
            <mat-select formControlName="role" name="role" [(value)]="selected">
              <mat-option value="USER">User</mat-option>
              <mat-option value="ADMIN">Admin</mat-option>
            </mat-select>
            <mat-hint>Votre role</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input matInput formControlName="birthdate" name="birthdate" type="date" />
            <mat-hint>Votre date de naissance</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>



    <button mat-raised-button color="accent">
        Enregistrer
    </button>
</form>
