<h1>Se connecter</h1>
<form [formGroup]="formGroup" (ngSubmit)="save()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Adresse email</mat-label>
            <input matInput formControlName="login" name="login" />
            <mat-hint>Entrez votre adresse email</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" name="password" type="password" />
            <mat-hint>Entrez votre mot de passe</mat-hint>
            <mat-error>Ce champ est requis !</mat-error>
        </mat-form-field>
    </p>

    <button mat-raised-button color="accent">
        Connexion
    </button>
</form>
