<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of items">
        <app-car-item [item]="item"
                      (refreshItemsList)="refreshItemsList()">
        </app-car-item>
    </div>
</div>

<button *ngIf="role ==='ADMIN'" mat-raised-button color="accent" [routerLink]="'edit'" style="margin-top: 15px">
    Ajouter une nouvelle voiture
</button>
