<h1>Administration des utilisateurs</h1>
<button mat-raised-button color="primary" [routerLink]="'../'">
    Retourner sur le tableau de bord
</button>

<table mat-table [dataSource]="items$" class="mat-elevation-z8">
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Rôle </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef> Login </th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
    </ng-container>

    <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef> Date de naissance </th>
        <td mat-cell *matCellDef="let element"> {{element.birthdate|date:'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-list>
                <mat-chip selected color="accent" [routerLink]="'/users/edit/' + element?.id || ''">
                    <mat-icon>edit</mat-icon>
                </mat-chip>
                <mat-chip selected color="warn" (click)="delete(element?.id || null)">
                    <mat-icon>delete</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div style="text-align:center">
  <button mat-raised-button color="accent" [routerLink]="'/users/edit'">
      Ajouter un nouvel utilisateur
  </button>
</div>
