<div>
  <h1>Mon profil</h1>
  <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>{{ item?.firstname || 'Prénom' }} {{ item?.lastname || 'Nom' }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
          <p>Email : {{ item?.login || 'Login' }}</p>
          <p>Date de naissance : {{ item?.birthdate|date:'mediumDate' || '' }}</p>
          <p>Role : {{ item?.role || '' }}</p>
      </mat-card-content>

      <mat-card-actions style="text-align: center;">
          <button mat-mini-fab color="accent" [routerLink]="'edit/' + item?.id" style="margin-left: 5px; margin-right: 5px;">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="delete(item?.id || null)" style="margin-left: 5px; margin-right: 5px;">
              <mat-icon>delete</mat-icon>
          </button>
      </mat-card-actions>
  </mat-card>
</div>
