div {
  text-align: center;
}

mat-card {
  text-align: center;
  display: inline-block;
  width: 20em;
  padding: 3em;
}


mat-card-header {
    text-align: center;
    display: inline-block;
}
mat-card-title {
  text-align: center;
  display: inline-block;
}
mat-card-content {
  margin-top: 3em;
  text-align: left;
}
h1 {
  text-align: center;
  margin: 1em;
}
