<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-list>
      <div *ngFor="let item of menuItems">
        <div *ngIf="item.link ==='logout'">
          <a mat-list-item [routerLink]="item.link" (click)="logout()">
            {{item.label}}
          </a>
        </div>
        <div *ngIf="item.link !=='logout'">
          <a mat-list-item [routerLink]="item.link" (click)="sidenav.close()">
            {{item.label}}
          </a>
        </div>
      </div>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>
          menu
        </mat-icon>
      </button>

      <h1>{{title}}</h1>

      <ng-container *ngIf="{ me: me$ | async } as profileData">
        <mat-icon *ngIf="profileData.me" [matTooltip]="profileData.me.login" (click)="logout()">
          face
        </mat-icon>
      </ng-container>

    </mat-toolbar>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
