<div class="">
<h1>Administration</h1>
<mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
    <mat-chip *ngFor="let element of managedElements" selected color="primary" [routerLink]="element.route">
        {{element.name}}
    </mat-chip>
</mat-chip-list>
</div>
