table {
  width: 100%;
}
.mt_1 {
  margin-top: 10px!important;
}
.mt_4 {
  margin-top: 40px!important;
}

button {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
  margin: 1em;
}
