<h1>Administration des voitures</h1>
<button mat-raised-button color="primary" style="margin-right: 10px;" [routerLink]="'../'">
    Retourner sur le tableau de bord
</button>

<table mat-table [dataSource]="items$" class="mat-elevation-z8">

    <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Marque </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Modèle </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Année </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="horsepower">
        <th mat-header-cell *matHeaderCellDef> Puissance </th>
        <td mat-cell *matCellDef="let element"> {{element.horsepower}} ch</td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} €</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-list>
                <mat-chip selected color="accent" [routerLink]="'/cars/edit/' + element?.id || ''">
                    <mat-icon>edit</mat-icon>
                </mat-chip>
                <mat-chip selected color="warn" (click)="delete(element?.id || null)">
                    <mat-icon>delete</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div style="text-align:center">
  <button mat-raised-button color="accent"  [routerLink]="'/cars/edit'">
      Ajouter une nouvelle voiture
  </button>
</div>
